.header{
    display:flex;
    justify-content:space-between;
    border:1px solid black;
    height:100px;
}
a{
    text-decoration:none;
    color:black;
}
.logo-container{
   
}
.logo{
    width:100px;
    height:100px;
}
.nav-items > ul{
display:flex;
align-items:center;
justify-content:center;
}
.nav-items
{
    align-items:center;
    justify-content:center;
    padding:0px 10px;
}
.nav-items > ul>li{
     margin:15px;
     list-style: none; 
     font-size:20px; 
}
.body{
    border:1px solid brown;
    margin:10px 0px;
}
.filter-btn{
    margin:10px;
    cursor:pointer;
    background-color:rgb(0,205,0);
    shadow:none;
}
.filter{
display:flex;
justify-content:space-between;
align-items:center;
}
.search-bar{
   
    margin:0px 5px;
}
.search-btn{
margin:0px 10px;
cursor:pointer;
}
.rest-container{
    display:flex;
    padding:15px;
    flex-wrap:wrap
   
}
.cards{
    border:1px solid black;
    /* height:300px; */
    width:190px;
    padding:5px;
    background-color:#F2D2BD;
    margin:5px;

}
.cards:hover{
    cursor:pointer;
   
}

.card-img{
width:100%;
height:150px;
}
h1{
    color:green;
}
.shimmer-container{
    display:flex;
    flex-wrap:wrap; 
}
.bg-cards{
    height:300px;
    width:150px;
    padding:5px;
    margin:5px;
    background-color:#f0f0f0;
}